p{
    color: orange;
}
#paragraf{
    color: blue;
}
a, span, div{
    color: green;
}

/* #wyciemnienie{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(185, 250, 218, 0.5);
}*/
li > a{
    color: red;
}
div a {
    color: chartreuse;
}
h3+h3{
    color: aqua;
}
h4 ~ p{
    color: antiquewhite;
}